form {
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid var(--fart-darker-dark-green);
  transition: border-color 0.3s;
  font-size: 16px;
  border-radius: 4px;
  color: var(--fart-offwhite);
  background-color: var(--fart-darker-dark-green);
}

input:focus, textarea:focus {
  outline: none;
  color: var(--fart-green);
  border-bottom: 2px solid var(--fart-green);
}

br {
  margin-bottom: 20px;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 3em 0;
  display: flex;
}

.tab > a {
  transition: all 0.3s;
  padding: 12px 15px;
  margin: 24px 0 30px 0;
  cursor: pointer;
  border-radius: 2em;
}

.tab > a:hover, .tab > a.active {
  background-color: var(--fart-darker-dark-green);
  color: var(--fart-green);
}

.required:after {
  content: " *";
  color: red;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid var(--fart-darker-dark-green);
  transition: border-color 0.3s;
  font-size: 16px;
  border-radius: 4px;
  color: var(--fart-offwhite);
  background-color: var(--fart-darker-dark-green);
  display: block;
}

select:focus {
  outline: none;
  color: var(--fart-green);
  border-bottom: 2px solid var(--fart-green);
}
